<div class="flex h-[62px] justify-between w-full items-center px-6">
    <!-- TODO: set title dynamically -->
  <h1 class="text-[#2C42B4] text-base font-bold">Inventory</h1>
  <div class="flex items-center gap-3">
    <p-button icon="pi pi-question-circle" styleClass="bg-transparent! border-none! text-[#2C42B4]! w-[36px]! h-[36px]!"></p-button>
    <p-button icon="pi pi-calendar" styleClass="bg-transparent! border-none! text-[#2C42B4]! w-[36px]! h-[36px]!"></p-button>
    <p-button icon="pi pi-users" styleClass="bg-transparent! border-none! text-[#2C42B4]! w-[36px]! h-[36px]!"></p-button>
    <p-button icon="pi pi-cog" styleClass="bg-transparent! border-none! text-[#2C42B4]! w-[36px]! h-[36px]!"></p-button>
  </div>
</div>
